<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="dist/assets/index.css">

</head>
<body>

    <header>
        <div class="header-top  px-10 py-2  flex  justify-between bg-blue">
            <div>
                <a href="#" class="text-white text-xs  laptop:text-sm">Donation for Palestine</a>
                <a href="#" class="text-white pl-3 text-xs laptop:text-sm">Track Order</a>
            </div>
            <!-- <p class="text-sm text-white hidden laptop:block">Free Shipping Over 1499 Taka Order!</p> -->
            <div>
                <a href="#" class="ml-2 text-white text-base"><i class="fab fa-facebook"></i></a>
                <a href="#" class="ml-2 text-white text-base"><i class="fab fa-instagram"></i></a>
                <a href="#" class="ml-2 text-white text-base"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="flex justify-between px-2 laptop:px-10 py-2 bg-[#FAF4F6] items-center">
            <a href="#"> <img class="w-32 laptop:w-40 h-auto" src="images/logo.png" alt=""></a>

            <nav class="hidden laptop:block">
                <ul class="flex gap-4">
                    <li class="dropdown"><a href="shop.html" class="text-base text-red hover:text-blue ">T-Shirt Collection <i class="fa-solid fa-angle-down"></i></i></a>
                    <ul>
                        <li><a href="shop.html" class="text-base text-red hover:text-blue">Dawah T-Shirt</a></li>
                    </ul>
                    </li>
                    <li><a href="shop.html" class="text-base text-red hover:text-blue ">Gift Item</a></li>
                    <li><a href="shop.html" class="text-base text-red hover:text-blue ">Mens Fashion</a></li>
                    <li><a href="shop.html" class="text-base text-red hover:text-blue ">Womens Fashion</a></li>
                    <li><a href="shop.html" class="text-base text-red hover:text-blue">Customize Chocolate</a></li>
                    <li><a href="shop.html" class="text-base text-red hover:text-blue ">Fashion Accessories</a></li> 
                </ul>
            </nav>

            <div class="user"><a href="#"><img class="w-8 h-8" src="images/profile.png" alt=""></a></div>

            <div class="cart flex gap-2">
                <img class="w-8 h-8" src="images/cart.png" alt="">
                <a class="text-red" href="">0ট</a>
            </div>

        </div>
    </header>


    <div class="container mx-auto p-3 laptop:py-10">
         <h1 class="text-3xl">শর্তাবলী</h1>

         <p class="text-sm tablet:text-base laptop:text-base my-5">Thikana.Shop এ আপনাকে স্বাগতম। আমাদের সেবা গ্রহণের জন্য আপনাকে নিম্নোক্ত শর্তাবলী (“Terms”) সঠিক ভাবে মেনে চলতে হবে। অর্থ্যাৎ, আপনি যদি এই Website এর সেবা গ্রহণ করে থাকেন তাহলে আপনি আমাদের দেওয়া শর্তাবলীর সাথে ঐক্যমত পোষণ করেছেন।</p>
         
         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">১. Website এর ব্যবহারবিধিঃ</h2>
            <p class="text-sm mb-2">১. Website ব্যবহারবিধি</p>
            <p class="text-sm mb-2">১.১. ব্যবহার যোগ্যতাঃ Thikana.Shop এর সেবা গ্রহণের জন্য আপনাকে অন্তত ১৮ বছর বয়সী হতে হবে।</p>
            <p class="text-sm mb-2">১.২. ব্যবহারকারীর অ্যাকাউন্টঃ  আপনার অ্যাকাউন্ট এর সকল ব্যবহার এবং কার্যকলাপের জন্য আপনি দ্বায়ী থাকবেন। আপনার কার্যকলাপের জন্য Thikana.shop এর কোন দ্বায়-বদ্ধতা থাকবেনা।</p> 

         </div>

         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">২. প্রডাক্ট অর্ডার এবং মূল্যঃ</h2>
            <p class="text-sm mb-2">২.১. অর্ডার সংক্রান্তঃ আপনার অর্ডারকৃত পন্য টি স্টকে না থাকা স্বাপেক্ষে এবং অন্যান্য Technical সমস্যার পরিপেক্ষিতে Thikana.shop কর্তৃপক্ষ যেকোনো সময়ে বাতিল করতে পারে। </p>
            <p class="text-sm mb-2">২.২. মূল্য সংক্রান্তঃ Thikana.shop যেকোনো সময়ে পন্যের মূল্য হ্রাস-বৃদ্ধির ক্ষমতা রাখে। </p>
             
         </div>

         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">৩. মূল্য পরিশোধের পদ্ধতী এবং Blilling এর তথ্যঃ</h2>
            <p class="text-sm mb-2">৩.১. মূল্য পরিশোধ সংক্রান্তঃ Thikana.shop Cash on Delivery এবং Advance Payment গ্রহণ করে থাকে। আপনি আমাদের উল্লেখিত যেকোনো Payment Method ব্যবহার করে মূল্য পরিশোধ করতে পারেন।</p>
            <p class="text-sm mb-2">৩.২. Billing এর তথ্য সংক্রান্তঃ পন্য অর্ডার করার সময় আপনি যে তথ্য ব্যবহার করেন তা অবশ্যই সঠিক হতে হবে এবং এটি বাংলাদেশে হতে হবে।</p> 
         </div>

         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">৪. শিপিং এবং ডেলিভারী সংক্রান্তঃ</h2>
            <p class="text-sm mb-2">৪.১. শিপিং নীতিমালাঃ Thikana.shop আপনার নিকট সঠিক সময়ে পন্য পৌছানোর সর্বোচ্চ চেষ্টা করবে। তবে স্থান, কাল, প্রডাক্ট এর স্টকের অবস্থার উপর ভিত্তি করে শিপিং এবং ডেলিভারীর সময় বর্ধিত হতে পারে।</p> 
         </div>

         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">৫. রিটার্ন এবং রিফান্ড এর নীতিমালাঃ</h2>
            <p class="text-sm mb-2">৫.১। দয়া করে Thikana.shop এ প্রদত্ত Return and Refund Policy দেখে নিন।</p> 
         </div>

         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">৬. দ্বায়বদ্ধতা ও সীমাবদ্ধতাঃ</h2>
            <p class="text-sm mb-2">৬.১. Thikana.shop এর সেবা গ্রহণের জন্য এই ওয়েব সাইটে প্রবেশ এর পর আপনার সকল কর্মকান্ডের দ্বায়-দায়িক্ত এবং ফলাফলের জন্য আপনি নিজে দ্বায়ী হবেন এবং Thikana.shop কোনো অবস্থাতেই কোনো প্রকার দ্বায়-ভার বহন করবেনা।</p> 
         </div>

         <div class="my-5">
            <h2 class="text-sm tablet:text-base laptop:text-xl mb-4">৭. যোগাযোগঃ</h2>
            <p class="text-sm mb-2">৭.১ আমাদের সাথে যোগাযোগ এর জন্য আমাদেরকে ই-মেইল পাঠান এই ঠিকানায় thikanagiftshop@gmail.com</p> 

            <p class="text-sm my-4">পরিশেষে আপনি আমাদের সার্ভিস/সেবা গ্রহণের উদ্দেশ্যে আমাদের website visit করার সময় আমাদের উল্লেখিত সকল শর্তসমূহ মেনে চলতে বাধ্য থাকবেন এবং Thikana.shop যেকোনো সময়ে যেকোনো তথ্য পরিবর্তন/পরিবর্ধন করার ক্ষমতা রাখে।</p> 


         </div>

    </div>
    


    <!-- ---------------Footer-section---------------------------  -->

    <div class="footer bg-[#00000F] p-3 laptop:py-10">
        <div class="container mx-auto grid gap-4 grid-cols-1 tablet:grid-cols-4">
            <div>
                <a href="#"><img class="w-1/4 tablet:w-36 laptop:w-1/2  h-auto mb-2 tablet:mb-5 laptop:mb-6" src="images/logo.png" alt=""></a>
                <p class="text-white text-sm laptop:text-sm">Unbox The Unexpected</p>
            </div>

            <div>
                <h1 class="text-white mb-2 text-[18px]">Quick LInks</h1>
                <div class="divider w-16 h-1 bg-[#7C0E19] mb-6"></div>
                <div>
                    <a href="blog.html" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Blog</a>
                    <a href="shop.html" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Shop</a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">My account</a>
                    <a href="terms-and-conditions.html" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Terms and Conditions</a>
                    <a href="privacy-policy.html" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Privacy Policy</a>
                    <a href="refund_returns.html" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Refund and Return Policy</a>
                    <a href="donation-of-thikana-shop.html" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Donation for Palestine</a> 
                </div>
            </div>

            <div>
                <h1 class="text-white mb-2 text-[18px]">Categories</h1>
                <div class="divider w-16 h-1 bg-[#7C0E19] mb-6"></div>
                <div>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">T-Shirt Collection </a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Dawah T-Shirt</a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Gift Item</a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Mens Fashion</a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Womens Fashion</a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Customize Chocolate</a>
                    <a href="#" class="text-white text-xs laptop:text-sm block mb-4 hover:text-red">Fashion Accessories</a> 
                </div>
            </div>
            <div>
                <h1 class="text-white mb-2 text-[18px]">Contact Us</h1>
                <div class="divider w-16 h-1 bg-[#7C0E19] mb-6"></div>

                <div>
                    <a href="#"><i class="fa-brands fa-facebook text-red h-8 w-8 leading-[30px] text-center  border-red border-2 rounded-full hover:scale-105 ease-linear mr-2"></i> </a>
                    <a href="#"><i class="fa-brands fa-youtube   text-red h-8 w-8 leading-[30px] text-center  border-red border-2 rounded-full hover:scale-105 ease-linear"></i></a>  
                    <div class="mt-5">
                         <p class="text-white text-xs laptop:text-sm"> <i class="fa-solid fa-location-dot text-red mr-1"></i> Kolahat, Badalgachi, Naogaon</p>
                         <p class="text-white text-xs laptop:text-sm my-4"> <i class="fa-solid fa-envelope-open-text text-red mr-1"></i> <a href="mailto:thikanagiftshop@gmail.com">thikanagiftshop@gmail.com</a></p>
                         <p class="text-white text-xs laptop:text-sm"> <i class="fa-solid fa-phone-volume text-red mr-1"></i> <a href="tel:+8801327-282454">+8801327-282454</a></p>
                    </div>
                   
                </div>
                
            </div>

        </div>

        <div class="divider border-[1px] border-rose-950 container mx-auto my-10"></div>
        <p class="text-center text-white text-xs tablet:text-sm  laptop:text-sm  mt-4 laptop:mt-10 leading-6 ">Copyright © 2024 Thikana.shop .All rights reserved. Website Designed & Developed by <a class="text-red" href="#">SOFTEB.COM</a></p>

    </div>

 

    
</body>
</html>