<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/sass.css">
    <link rel="stylesheet" href="assets/css/layets.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>



    <div class="main-wrapper">
        <!-- -navbar- -->
        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm expand-header">
                <div class="header-left d-flex">
                    <div class="logo">
                        <a href="">Thikana.shop</a>
                    </div>
                    <a href="#" id="toggleSidebar" class="sidebarCollapse" data-placement="button">
                        <span class="fas fa-bars"></span>
                    </a>
                </div>
                <div class="searchBar">
                    <input type="search" name="search" placeholder="Search..." id="">
                </div>
                <ul class="navbar-item flex-row  align-items-center py-2 ml-auto ">
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="notify" data-bs-toggle="dropdown">
                            <img src="assets/img/notification.png" alt="" class="icon">
                            <p class="count">5</p>
                        </a>

                        <div class="dropdown-menu notification">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="assets/img/email.png" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">server reboted</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p class="status-link"><span class="fas fa-times"></span></p>
                                    </div>

                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="assets/img/email.png" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">software server reboted</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p class="status-link"><span class="fas fa-times"></span></p>
                                    </div>

                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="assets/img/email.png" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">server reboted</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p class="status-link"><span class="fas fa-times"></span></p>
                                    </div>

                                </a>


                            </div>
                        </div>

                    </li>
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="notify" data-bs-toggle="dropdown">
                            <img src="assets/img/email.png" alt="" class="icon">
                            <p class="count">4</p>
                        </a>
                        <div class="dropdown-menu mail">
                            <div class="dp-main-menu">

                                <div class="email-info">
                                    <a href="" class="email-item">
                                        <img src="assets/img/man.png" alt="" class="user-email">
                                        <div class="note-info-email">
                                            <h2 class="name">Tawfiq Khan</h2>
                                            <p class="role">Super admin</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="email-info">
                                    <a href="" class="email-item">
                                        <img src="assets/img/man.png" alt="" class="user-email">
                                        <div class="note-info-email">
                                            <h2 class="name">Tawfiq Khan</h2>
                                            <p class="role">Super admin</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="email-info">
                                    <a href="" class="email-item">
                                        <img src="assets/img/man.png" alt="" class="user-email">
                                        <div class="note-info-email">
                                            <h2 class="name">Tawfiq Khan</h2>
                                            <p class="role">Super admin</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="notify" data-bs-toggle="dropdown">
                            <img src="assets/img/profile (1).png" alt="" class="icon">
                        </a>

                        <div class="dropdown-menu usr">
                            <div class="dp-main-menu">

                                <div class="user-info">
                                    <div class="user-data">
                                        <img src="assets/img/man.png" alt="" class="user-img">
                                        <div class="mt-3">
                                            <h2>Tawfiq Khan</h2>
                                            <p>Super admin</p>
                                        </div>
                                    </div>
                                    <div class="user-link">
                                        <a href=""><i class="fas fa-user"></i> Profile</a>
                                        <a href=""><i class="fas fa-envelope"></i> Inbox</a>
                                        <a href=""><i class="fas fa-lock-open"></i> Log Out</a>
                                        <a href="form.html"><i class="fas fa-user-plus"></i> Registration</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </li>
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="notify" data-bs-toggle="dropdown">
                            <img src="assets/img/settings.png" alt="" class="icon">
                        </a>
                        <div class="dropdown-menu setting">
                            <div class="dp-main-menu">
                                <div class="user-info">
                                    <div class="user-link mt-3">
                                        <a href=""><i class="fas fa-gear"></i> Settings</a>
                                        <a href=""><i class="fas fa-users"></i> Admin</a>
                                        <a href=""><i class="fas fa-pen"></i> Color</a>
                                        <a href=""><i class="fas fa-moon"></i> Theme</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>

            </header>
        </div>
        <!-- -navbar-end -->


        <!-- --sidebar-start-- -->

        <div class="left-menu">
            <div class="menubar-content">
                <nav class="animated bounceInDown">
                    <ul id="sidebar">
                        <li class="active">
                            <a href="#"><i class="fas fa-home"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-box-open"></i>Widgets</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-uikit"></i>UI Elements</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chart-bar"></i>Advance UI</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-telegram-plane"></i>Form Elements</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-shopping-bag"></i>Products</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-home"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-home"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-box-open"></i>Widgets</a>
                        </li>

                        <li class="sub-menu">
                            <a href="#"><i class="fas fa-cogs"></i>settings <span
                                    class="fas fa-caret-down right"></span></a>
                            <ul class="left-menu-dp">
                                <li><a href="#"><i class="fas fa-user-circle"></i>Account</a></li>
                                <li><a href="#"><i class="fas fa-id-card"></i>Profile</a></li>
                                <li><a href="#"><i class="fas fa-fingerprint"></i>Security &amp; Privacy</a></li>
                                <li><a href="#"><i class="fas fa-key"></i>Password</a></li>
                                <li><a href="#"><i class="fas fa-bell"></i>Notification</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fas fa-chart-bar"></i>Advance UI</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-telegram-plane"></i>Form Elements</a>
                        </li>
                        <li>

                        <li>
                            <a href="#"><i class="fas fa-box-open"></i>Widgets</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-uikit"></i>UI Elements</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-chart-bar"></i>Advance UI</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-telegram-plane"></i>Form Elements</a>
                        </li>
                        <li>

                    </ul>
                </nav>
            </div>
        </div>

        <!-- --sidebar-end-- -->

        <div class="content-wrapper">

            <div class="container">
                <div class="row">
                    <h5>All Orders</h5>
                    <table class="table table-bordered mt-2 pt-2">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            

        </div>


    </div>




    <!-- ----------------------------js---------------------------------------- -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>