<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
  <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/sass.css">
  <link rel="stylesheet" href="assets/css/layets.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">   
   
</head>
<body>


    <div class="container py-5">
            <div class="row users">
                <div class="user-information">
                   <div class="user-image">
                    <img src="assets/img/Tawfiq.jpeg" alt="">
                   </div>
                   <div class="user-data">
                    <h2 class="name fs-5">Tawfiq Elahi</h2>
                    <h6>Admin</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, unde.</p>
                    <div class="social-link">
                        <a href="#" class="fab fa-facebook"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                   </div>
                </div>

                

                <nav class="my-4">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link fw-bold text-black " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Profile Details</button>
                    <button class="nav-link fw-bold text-black" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile Setting</button> 
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eius ipsam temporibus tempora suscipit, eos esse exercitationem repellat veritatis earum qui ducimus alias laborum enim excepturi animi, eum ea laudantium quam. Dolore, ad. Numquam, harum animi maiores vitae quidem laudantium?</div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusamus quae sapiente delectus doloremque sit in autem consectetur laboriosam? In dolore iste officia exercitationem perspiciatis at, eligendi voluptates velit eaque amet facilis cupiditate itaque ex hic praesentium id dolores nostrum est. Voluptates, sequi iure, totam quas voluptatibus deleniti nisi eos perspiciatis hic, facere labore perferendis repudiandae quisquam quibusdam ad neque.</div> 
                </div>

            </div>
    </div>
 
    
<!-- ----------------------------js---------------------------------------- -->
    
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script> 
<script src="assets/js/main.js"></script>

</body>
</html>
